@charset "UTF-8";

.container {
    max-width: 960px;
}

.logo {
    width: 120px;
    height: 40px;
    padding:10px 0;
}

.header-list li {
    color:black;
    float:right;
    list-style: none;
}
