@charset "UTF-8";

.container {
    max-width: 960px;
    margin:0 auto;
}

.logo {
    float: left;
    width: 120px;
    height: 40px;
    padding: 10px 0;
}

.header-list li {
    color:black;
    float: right;
    list-style: none;
    margin-left: 30px;
}

.mainphoto {
    object-fit: cover;
    margin-bottom: 80px;
}
